@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@using Vacation_System.ServiceReference
@using Web_Service
@model Vacation_System.ServiceReference.Empleado

@{
    Layout = "~/Views/AccountPage/Layout.cshtml";
    ViewBag.Title = "Inicio";

    var jsonFechas = JsonConvert.SerializeObject(Model.FechasNoDisponibles, new IsoDateTimeConverter());
}

<div class=""/>
<div class="page-title">
    <div class="title_left">
        <h3>Solicitud de Vacaciones</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
<button class="btn btn-default" type="button">Go!</button>
</span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Formulario de solicitud</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- Smart Wizard -->
                <p>Con esta sencilla herramienta puedes mandar tu solicitud de vacaciones en 4 sencillos pasos.</p>
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                        Paso 1
<br />
<small>Revisa tus datos</small>
</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                        Paso 2
<br />
<small>Elige la fecha</small>
</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                        Paso 3
<br />
<small>Observaciones</small>
</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4">
                                <span class="step_no">4</span>
                                <span class="step_descr">
                                        Paso 4
<br />
<small>Revisa tu solicitud</small>
</span>
                            </a>
                        </li>
                    </ul>
                    <div id="step-1">
                        
                        <form class="form-horizontal form-label-left">
                            <div class="form-group">
                                <!--Hardcoded year-->
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Dias correspondientes /
                                    @Model.YearC año
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" value="23" class="form-control col-md-7 col-xs-12" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Dias tomados anteriormente
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" value="@Model.DiasTomadosAnteriormente" class="form-control col-md-7 col-xs-12" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Dias pendientes de tomar</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="diasportomar" value="@Model.DiasPendientesPorTomar" class="form-control col-md-7 col-xs-12" type="number" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="step-2">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12 glyphicon glyphicon-calendar">
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="fecha" type="text" class="form-control col-md-7 col-xs-12" width="50" name="daterange"/>
                                    <br/><br/>
                                    <input id="availability" style="background: #193b69;"type="button" class="btn btn-primary pull-right" name="confirm" value="Ver disponibilidad"/>
                                </div>
                            </div>
                        </div>

                        <input id="fechasHidden" name="fechasHidden" type="hidden" value="@jsonFechas"/> @*Cambiar a Hidden*@

                        <script type="text/javascript">
                            $(function() {
                                $('input[name="daterange"]').daterangepicker({
                                    locale: {
                                        applyLabel: 'Aplicar',
                                        cancelLabel: 'Cancelar',
                                        fromLabel: "Salida",
                                        toLabel: "Regreso",
                                        "daysOfWeek": ["Dom", "Lu", "Mar", "Mie", "Jue", "Vie", "Sab"],
                                        "monthNames": [
                                            "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto",
                                            "Septiembre", "Octubre", "Noviembre", "Diciembre"
                                        ]
                                    }

                                });

                            });

                            $("#availability").click(function() {
                                //Check if date is available logic here!
                                var datevalues = document.getElementById('fecha').value;
                                var res = datevalues.split(" - ");
                                var invaliddates = JSON.parse(document.getElementById('fechasHidden').value, new Date());
                                var daysAccepted = false;
                                var range = daysInBetween(new Date(res[0]), new Date(res[1]));

                                document.getElementById('fsalida').value = res[0];
                                document.getElementById('fregreso').value = res[1];
                                document.getElementById('diassolic').value = range;
                                console.log(range);

                                if (range > document.getElementById('diasportomar').value) {
                                    alert("No puede tomar mas dias de los que le quedan!");
                                    return;
                                }

                                for (var i = 0; i < invaliddates.length; i++) {
                                    var date = invaliddates[i].replace("T00:00:00", "");
                                    var y = date.split('-');
                                    var dateInvalid = new Date(y[0], y[1] - 1, y[2]);

                                    daysAccepted = checkDates(dateInvalid, res[0], res[1]);
                                    if (!daysAccepted)
                                        break;
                                }

                                if (daysAccepted)
                                    alert("Los dias seleccionados estan disponibles");

                            });
                        </script>

                        <script type="text/javascript">
                            function daysInBetween(firstDate, secondDate) {
                                // The number of milliseconds in one day
                                var oneDay = 1000 * 60 * 60 * 24;

                                // Convert both dates to milliseconds
                                var date1Ms = firstDate.getTime();
                                var date2Ms = secondDate.getTime();

                                // Calculate the difference in milliseconds
                                var differenceMs = Math.abs(date1Ms - date2Ms);

                                // Convert back to days and return
                                return Math.round(differenceMs / oneDay);
                            }

                        </script>

                        <script type="text/javascript">
                            function checkDates(invalidDate, startDate, endDate) {
                                startDate = startDate.split('/');
                                endDate = endDate.split('/');
                                var invalid = invalidDate;
                                var begin = new Date(startDate[2], startDate[0] - 1, startDate[1]);
                                var end = new Date(endDate[2], endDate[0] - 1, endDate[1]);

                                if (new Date().getFullYear() !== begin.getFullYear()) {
                                    alert("Solo puede escoger dias del año vigente!");
                                    return false;
                                    //Analizar mejor esta condicion
                                }

                                else if (begin.getDate() < new Date().getDate() || begin.getMonth() < new Date().getMonth()) {
                                    alert("No puede seleccionar dias del pasado");
                                    return false;
                                }

                                else if (invalid.getDate() < begin.getDate()) {
                                    return true;
                                }

                                else if (invalid.getMonth() < begin.getMonth()) {
                                    return true;
                                }

                                else if (invalid.getMonth() < end.getMonth()) {
                                    alert("La fecha " + (invalid.getMonth() + 1).toString() + '/' + invalid.getDate().toString() + '/'
                                            + invalid.getFullYear() + " no esta disponible");

                                    return false;
                                }

                                else if (invalid.getFullYear() === begin.getFullYear()) {
                                    if (invalid.getDate() >= begin.getDate() && invalid.getDate() <= end.getDate()) {
                                        console.log("entro");
                                        alert("La fecha " + (invalid.getMonth()+1).toString() + '/' + invalid.getDate().toString() + '/'
                                            + invalid.getFullYear() + " no esta disponible");

                                        return false;
                                    }
                                }

                                return true;
                            }
                        </script>

                    </div>
                    <div id="step-3">
                        <div class="form-horizontal form-label-left">
                            <div class="form-group">
                                <h2 class="control-label col-md-3 col-sm-3 ">Observaciones
                                </h2>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea class="form-control col-md-7 col-xs-12" rows="2" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="step-4">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Dias solicitados
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" id="diassolic"  class="form-control col-md-7 col-xs-12" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Fecha de Salida
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="fsalida" type="text" class="form-control col-md-7 col-xs-12" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de Regreso</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="fregreso" class="form-control col-md-7 col-xs-12" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Firma</label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <input value="@Model.User.PrimerNombre @Model.User.PrimerApellido" class="form-control col-md-7 col-xs-12" type="text" disabled/>
                                </div>
                            </div>
                        </form>
                        <div id="msg"></div>
                        <script>
                            function EnviarDatos() {
                                var SuccessContent = "<div id='successmsg' style='background:#193b69; outline:none;' width='60' class='alert alert-success'><a href='#' class='close' data-dismiss='alert'>&times;</a><strong>Enhorabuena!</strong> La peticion ha sido enviada, te notificaremos cuando sea aprobada.</div>";
                                var IncorrectContent = "<div id='errormsg' style='background:red; outline:none;' width='60' class='alert alert-error'><a href='#' class='close' data-dismiss='alert'>&times;</a><strong>Oops!</strong> Algunos datos estan incorrectos o no satisfacen las fechas correspondientes para generar la solicitud.</div>";
                                //Validate if all data in form is correct! Before showing success
                                $('#msg').after(SuccessContent);
                                SuccessContent = ' ';
                               
                                //$('#msg').after(IncorrectContent);
                                //IncorrectContent = ' ';
                            }
                        </script>
                    </div>
                    <!-- End SmartWizard Content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Calendar implementation-->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Calendario
                <small>
                    FAQ
                </small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
<button class="btn btn-default" type="button">Go!</button>
</span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Calender Events
                        <small>Sessions</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </li>
                        <li>
                            <a class="close-link">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Calendar modal here :^)-->
<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">New Calender Entry</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form id="antoform" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" style="height:55px;" id="descr" name="descr"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary antosubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel2">Edit Calender Entry</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal2" style="padding: 5px 20px;">
                    <form id="antoform2" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="title2" name="title2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
<div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
<!--End of calendar modal :^)-->
