@model Vacation_System.Models.ProfileViewModel

@{
    Layout = "~/Views/AccountPage/Layout.cshtml";
    ViewBag.Title = "Perfil de "+@Model.ProfileEmpleado.User.PrimerNombre;
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Perfil</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Ir</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                            <!-- end of image cropping -->
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <div class="avatar-view" title="Cambiar foto de perfil">
                                    <img src="~/Content/imgs/img.png" alt="Avatar">
                                </div>
                                <!-- Cropping modal -->
                                <div class="modal fade" id="avatar-modal" aria-hidden="true" 
                                     aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <form class="avatar-form" action="crop.php" 
                                                  enctype="multipart/form-data" method="post">
                                                <div class="modal-header">
                                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                                    <h4 class="modal-title" 
                                                        id="avatar-modal-label">Cambiar foto de perfil</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="avatar-body">
                                                        <!-- Upload image and data -->
                                                        <div class="avatar-upload">
                                                            <input class="avatar-src" name="avatar_src" type="hidden">
                                                            <input class="avatar-data" name="avatar_data" type="hidden">
                                                            <label for="avatarInput">Imagen local</label>
                                                            <input class="avatar-input" id="avatarInput" 
                                                                   name="avatar_file" type="file">
                                                        </div>
                                                        <!-- Crop and preview -->
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <div class="avatar-wrapper"></div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="avatar-preview preview-lg"></div>
                                                                <div class="avatar-preview preview-md"></div>
                                                                <div class="avatar-preview preview-sm"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row avatar-btns">
                                                            <div class="col-md-3 pull-right">
                                                                <button class="btn btn-primary btn-block avatar-save" 
                                                                        type="submit">Guardar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="modal-footer">
                                                  <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                                </div> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.modal -->
                                <!-- Loading state -->
                                <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                            </div>
                            <!-- end of image cropping -->
                        </div>
                        <h3>@Model.ProfileEmpleado.User.PrimerNombre @Model.ProfileEmpleado.User.SegundoNombre</h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <div class="fa fa-calendar user-profile-icon">
                                     @Model.ProfileEmpleado.User.FechaIngreso.ToString("dd/MM/yyyy")
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-envelope user-profile-icon"> @Model.ProfileEmpleado.User.Email</i>
                            </li>
                            <li class="m-top-xs">
                                @{
                                    if (Model.ProfileEmpleado.User.Activo) 
                                    { 
                                        <i class="fa fa-check user-profile-icon">Activo</i>
                                        
                                    }
                                    else
                                    {
                                        <i class="fa fa-close user-profile-icon">Inactivo</i>
                                        
                                    }
                                }
                            </li>
                        </ul>
                        <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Perfil</a>

                        @if (Model.DisplayEditStatusBtn)
                        {
                            using (Html.BeginForm("DesactivarUsuario", "AccountPage"))
                            {
                                <input type="hidden" name="talentoHumano" value="@Model.ProfileEmpleado.User.TalentoHumano" />

                                if (Model.ProfileEmpleado.User.Activo)
                                {
                                    <input class="btn btn-danger" type="submit" name="edit" value="Desactivar" />
                                }
                                else
                                {
                                    <input class="btn btn-primary" type="submit" name="edit" value="Activar" />
                                }
                            }
                        }

                        <br />

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <!--Insert intelligent user info-->
                        <h2 class="center-block"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>