@model Vacation_System.Models.RequestViewModel

@{
    ViewBag.Title = "Solicitudes";
    Layout = "~/Views/AccountPage/Layout.cshtml";
}

<div class="clearfix"></div>

<script>
    var row;
    $(document).ready(function () {
            row = $('#example').dataTable();

    });
</script>

<table id="example" class="display" cellspacing="0" width="100%">

    <thead>
        <tr>
            <th>Solicitud</th>
            <th></th>
        </tr>

    </thead>

    <tbody>

        @foreach (var solicitud in Model.Solicitudes)
        {
            <tr>
                <td>@solicitud.EmployeeData.PrimerNombre @solicitud.EmployeeData.PrimerApellido</td>
                <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#@solicitud.VacData.VacacionesId">Revisar</button></td>
            </tr>
        }
        

    </tbody>

</table>

@using (Html.BeginForm())
{
    foreach (var solicitud in Model.Solicitudes)
    {
    <!--Request Modal-->
        <div id="@solicitud.VacData.VacacionesId" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Revisar Solicitud</h3>
                    </div>
                    <div class="modal-body">
                        <label>
                            Fecha de Salida

                        </label>
                        @solicitud.VacData.FechaSalida.ToString()
                        <br />

                        <label>
                            Fecha de Regreso
                        </label>
                        @solicitud.VacData.FechaEntrada.ToString()

                    </div>
                    <div class="modal-footer">

                        <input type="hidden" name="idSolicitud" value="@solicitud.VacData.VacacionesId"/>

                        <button type="submit" name="respuesta" class="btn btn-primary" value="Rechazado">Rechazar</button>


                        <button type="submit" name="respuesta" class="btn btn-primary" value="Aprobado">Aceptar</button>

                    </div>
                </div>
            </div>
        </div>
    }
}